body {
  font-family: Garamond, Serif;
  max-width: 800px;
  overflow-wrap: normal;
  margin-left: 160px; /* Same as the width of the sidebar */
  padding: 0px 10px;
}

h1 {
  font-style:bold;
  color: #C00000;
  text-align: center;
}

h2 {
  color: #900000;
}

h3 {
  color: #400000;
}

.alignRight {
  float: right;
}

.jobTitle {
  width:100%;
  font-style:italic;
  color:gray;
}

.sidenav {
  height: 100%; 
  width: 160px; 
  position: fixed; 
  z-index: 1; 
  top: 0; 
  left: 0;
  background-color: #111; 
  overflow-x: hidden; 
  padding-top: 20px;
}


.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}


.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav div {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}

.sidenav div:hover {
  color: #f1f1f1;
}
